html{
    scroll-behavior: smooth;
}


body {
    background-color: #F1F0F2;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big_img {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
 
#container {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* 
    background-color: rgba(29, 23, 23, 0.9);
    */
}

.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 101;
    cursor: pointer;
}

.circle {
    color: #088C37;
    width: 150px;
    position: relative;
    display: inline-block;
    z-index: 0;
}

.icon_bar {
    font-size: 40px;
    color: #000000;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.hide_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #3F3F40;
    z-index: 100;
    transition: .3s;
    transform: translateX(-100%);
}

.wide {
    transform: translateX(0);
}

.menu {
    color: #F1F0F2;
    list-style: none;
    text-decoration: underline;
    padding: 60px;
    font-size: 50px;
}

#logo_box {
    margin: 0 auto;
    top: 20px;
    left: 20px;
    position: absolute;
    
}

.title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 250px;
    text-align: center;
    
}

.title_box h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
    color: #3F3F40;
    
}

.title_box p {
    font-size: 22px;
    margin: 10px;
    color: #E0A629;
    
}

#search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    position: relative;
    padding: 14px;
    width: min-content;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
}

.material-symbols-outlined {
    background-color: #F1F0F2;
    color: #3F3F40;
    cursor: pointer;
}

#search_input{
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 14px;
    color: #3F3F40;
    background-color: #F1F0F2;
}

.title_results h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #3F3F40;
}

#results {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10em;
    row-gap: 8em;
    width: 70%;
    background-color: #fff;
    padding: 80px;
}

.book {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #686868;
    border: 2px solid #3F3F40;
    border-radius: 2%;
    text-align: center;
    color: #E0A629;
}

.book img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.7);
}

.book h2 {
    position: absolute;
    font-size: 1.5rem;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 350px;
    opacity: 0;
}

.book p {
    position: absolute;
    font-size: 1rem;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 300px;
    margin-top: 90px;
    opacity: 0;
}

.book button {
    position: absolute;
    z-index: 10;
    margin-top: 200px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #E0A629;
    color: #3F3F40;
    opacity: 0;
}

.book button:hover{
    background-color: #8a6514;
    color: #ffffff;
    transition: 0.1s;
}

#loadMoreBtn {
    cursor: pointer;
    padding: 4px 14px 4px 14px;
    font-size: 16px;
    background-color: #F1F0F2;
    margin: 30px 0px 30px 0px;
    color: #E0A629;
    border: none;
    font-family: 'Roboto', 'san-serif';
    font-weight: 600;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1000;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 768px){
    .title_box h1 {
        font-size: 30px;
    }

    .title_box {
        top: 400px;
    }

    .title_box p {
        font-size: 15px;
    }

    #logo {
        width: 150px;
    }

    .circle {
        width: 100px;
    }

    #big_img {
        position: fixed;
    }

    body {
        background-color: #c9cdd1;
    }



    }