::-webkit-scrollbar {
    width: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #F1F0F2;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#big_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* HIDDEN MENU */
.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 101;
    cursor: pointer;
}

.circle {
    width: 150px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.circleoff {
    visibility: hidden;
}

.icon_bar {
    font-size: 40px;
    color: #000000;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.icon_baroff {
    color: #f70909;
}

.hide_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 100;
    transition: .3s;
    transform: translateX(-100%);
}

.wide {
    transform: translateX(0);
}

.menu {
    color: #3F3F40;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    align-items: center;
}

.information {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 700px;
    font-weight: 600;
}

.information button {
    cursor: pointer;
    font-size: 16px;
    background-color: #3F3F40;
    color: #E0A629;
    border: none;
    font-weight: 600;
}

.information h2 {
    margin: 0;
    font-size: 80px;
    color: #424242;
    font-weight: 900;
    text-decoration: underline 5px;
}

.information p {
    font-size: 30px;
    margin: 0px;
}

.menu a {
    color: #E0A629;
}

.link {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    width: 100vh;
}

.link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

#italian {
    display: none;
}

/* LOGO */
#logo_box {
    margin: 0 auto;
    top: 20px;
    left: 20px;
    position: absolute;
}

/* MAIN TITLE */
.title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 250px;
    text-align: center;
}

.title_box h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
    color: #3F3F40;
}

.title_box p {
    font-size: 22px;
    margin: 10px;
    color: #E0A629;
}

/* SEARCH BAR */
#search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    position: relative;
    padding: 14px;
    width: min-content;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
}

.material-symbols-outlined {
    background-color: #F1F0F2;
    color: #3F3F40;
    cursor: pointer;
}

.box_loadingIndicator {
    width: 10px;
    height: 10px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
    z-index: 1000; 
  }

#search_input{
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 14px;
    color: #3F3F40;
    background-color: #F1F0F2;
}

#search_input::after {
    background-color: #F1F0F2; 
}

/* RESULTS TITLE */
#title_results h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #3F3F40;
    text-align: center;
}

#results {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10em;
    row-gap: 8em;
    background-color: #fff;
    padding: 40px 0px 40px 0px;
}

/* BOOKS SECTION */
.book {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #686868;
    border: 2px solid #3F3F40;
    border-radius: 2%;
    text-align: center;
    color: #E0A629;
    background-color: #3F3F40;
}

.book img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.7);
}

.book h2 {
    position: absolute;
    font-size: 1.5rem;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 350px;
    opacity: 0;
}

.author {
    position: absolute;
    font-size: 1rem;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 300px;
    margin-top: 90px;
    opacity: 0;
    color: #9c6e0a;
}

.book button {
    position: absolute;
    z-index: 10;
    margin-top: 200px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #E0A629;
    color: #3F3F40;
    opacity: 0;
}

.book button:hover{
    background-color: #8a6514;
    color: #ffffff;
    transition: 0.1s;
}

.bckDes {
    position: absolute;
    border: 2px solid #E0A629;
    background-color: #3F3F40;
    transition: 0.2s;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2%;
}

.description {
    width: 380px;
    height: 480px;
    color: #E0A629;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    transition: 0.2s;
} 

.close {
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 180px;
}

/* BUTTONS */
#loadMoreBtn {
    cursor: pointer;
    padding: 4px 14px 4px 14px;
    font-size: 16px;
    background-color: #F1F0F2;
    margin: 30px 0px 30px 0px;
    color: #E0A629;
    border: none;
    font-family: 'Roboto', 'san-serif';
    font-weight: 600;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#goUpBtn {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', 'san-serif';
    font-weight: 600;
    position: absolute;
    right: 30px;
    padding-bottom: 20px;
}

#goUpBtn a {
    text-decoration: none;
    color: #3F3F40;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 480px) {
    .title_box {
        top: 150px;
        padding: 10px;
    }
    
    .title_box h1 {
        font-size: 35px;
    }

    .circle {
        width: 100px;
    }

    #search_container {
        top: 180px;
    }
}

@media screen and (max-width: 780px) {
    .title_box {
        top: 130px;
    }

    #search-container {
        top: 150px;
    }
}